:root {
    --mainBlue: #2364AA;
    --mainYellow:#F7B801;
}

* {
    box-sizing: border-box;
}

/* ----------- BODY ----------- */

body {
    margin: 0;
    min-height: 100vh;
}
main {
    max-height: 100%;
    margin: 0 0 50px 0;
}

/* ----------- TEXT ----------- */
h1, h2, h3, p, li {
/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
font-family: Futura;
font-weight: lighter;

}

h1, h2.head1 {
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
    /* font-weight: lighter; */
}

header {
    display: flex;
    flex-direction: row;
    width:100%;
}

header > * {
    flex-basis: 50%;
}

.head1 {
    background-color: var(--mainBlue);
    color: white;
}

.head2 {
    background-color: var(--mainYellow);
}

h2 {
    background-color: var(--mainBlue);
    color: white;
    padding: 10px 20px 10px 40px;
    border-radius: 0 24px 24px 0;
    margin: 0 0 60px 0;
    display: inline-block;
    font-size: 32px;
}

h3 {
    color: var(--mainBlue);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin: 12px auto 8px;
}

p, li {
    margin: 0;
    line-height: 150%;
    font-size: 18px;
    text-align: center;
}

footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    margin: 0;
}

footer h2 {
    margin: 0 auto;
    width: 100%;
}

/* ----------- PICS ----------- */
picture, img {
    max-width:100%;
    
}
.logo img, .logo source {
    max-width:300px;
    margin: 50px auto;
    display: block;
}

.yellowDropShadow {
    border-radius: 24px;
    filter: drop-shadow(8px 8px #F7B801);
}

.profile img {
    height: auto; 
    width: auto; 
    max-width: 100%;
    max-height: 100%;
}

/* ----------- FLEX STUFF ----------- */
.profile {
    display: block;
    width: fit-content;
    margin: 0 0 50px;
    padding: 20px;
}

/* OPTION 2 -- Desk  */

.flexprof {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10%;
    align-items:flex-start;
    justify-content:center;
    column-gap: 10%;
}

/* ----------- NEW STUFF ----------- */

.elem {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.elem picture {
    /* margin-bottom: 30px; */
    margin: 0 auto 30px;
    width: 100%;
}

.elem picture img, .elem picture source  { 
    width: 100%;
}

.comp-res-wrapper {
    /* width: 100%; */
    margin: 0 10%;
    padding: 30px;
    /* border-width: 3px;
    border-color: var(--mainBlue);
    border-style: solid; */
}

 h3.etitle {
    color: black;
    /* text-align: left; */
    padding: 0 0 0 10px;
}
.vis-screens {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 0;
}

.vis-screens img {
    width:20%;
}

.grid-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    column-gap: 20px;
}

.grid-con div { 
    padding: 10px;
}

.titlediv img {
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
}

/* .grid-con .grid-child:nth-child(2), .grid-con .grid-child:nth-child(5) {
    border-style: solid;
    border-width: 0 2px;
    border-color: var(--mainYellow);
    border-spacing: 2px;
} */

div.accusa-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0;
}

.grid-con h3, .grid-con li, .grid-con p  {
    text-align: left;
}

.grid-con h3 {
    font-size: 24px;
}

.grid-con h4 {
    font-family: Futura;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.grid-con ul {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
}

.comp-res-logo {
    position: absolute;
    bottom: 0;
    right:0;
}

.grid-child div {
    padding: 0;
}

/* @media screen and (max-width: 1500px) {
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
} */
@media screen and (max-width: 1050px) {
.comp-res-wrapper {
    margin: 0;
}
}

@media screen and (max-width: 870px) { 
    div.accusa-rating svg { 
        max-width: 140px;
    }

}

@media screen and (max-width: 800px) {
    .flexprof { 
        margin: 0 5%;
    }
    .vis-screens {
        flex-wrap: wrap;
    }

    .vis-screens img {
        width:45%;
        margin-bottom: 50px;
    }

    .grid-con {
        grid-template-columns: 1fr 1fr;
    }

    p, li { 
        font-size: 16px;
    }
    h2.head1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) { 
    div.accusa-rating svg { 
        max-width: 120px;
    }

}

 @media screen and (max-width: 650px) {
    .vis-screens {
        flex-wrap: wrap;
    }

    .vis-screens img {
        width:45%;
    }

    .grid-con {
        grid-template-columns: 1fr;
    }

 }
 @media screen and (max-width: 600px) {
    header > * {
        flex-basis: 100%;
    }
    header {
        flex-wrap: wrap;
    }
}
